.contact
	&-content 
		display: grid
		grid-template-columns: percent(607, 1160) 1fr
		gap: 8px

	&-block 
		display: grid
		gap: 32px	
		justify-items: start
		+adap('padding', 64, 48, $widthTo: 960)

		background: #fff
		border-radius: 24px

	&-items 
		display: grid
		gap: 16px

	&-row 
		display: flex
		align-items: center
		gap: 16px 32px
		+adap('gap', 32, 24  , $widthTo: 960)
		flex-wrap: wrap
		
	&-item 
		display: flex
		align-items: center
		gap: 8px

		font-weight: 500
		font-size: 21px
		line-height: 1.4
		letter-spacing: -0.03em
		color: #2e2d2b

	a.contact-item
		white-space: nowrap


	&-map 
		border-radius: 24px


	@media (max-width: 960px)
		&-content 
			grid-template-columns: minmax(450px, 511px) 1fr
		
		&-block 
			padding: 48px

	@media (max-width: 767px)
		&-content 
			grid-template-columns: 100%

		&-block 
			padding: 24px
			gap: 24px

		&-item 
			font-size: 18px
			line-height: 1.2

		&-map 
			min-height: 250px

	@media (max-width: 480px)
		&-map 
			min-height: 220px

	@media (max-width: 380px)
		&-map
			min-height: 200px







































































































